modules = ["nodejs-20"]
entrypoint = "server/index.js"
hidden = [".config", "package-lock.json", "client/dist", "*.log"]

run = "npm run build && npm run start"

[nix]
channel = "stable-24_05"

[deployment]
build = ["sh", "-c", "npm run build"]
run = ["sh", "-c", "NODE_ENV=production npm run start"]
deploymentTarget = "autoscale"

[env]
NODE_ENV = "production"

[[ports]]
localPort = 3001
externalPort = 80
